# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/
typings/

# Bower dependencies
bower_components/

# Build directories
dist/
build/

# Temporary files
*.tmp

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE/editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

